<!-- <div>
  <h2>Sign In</h2>

  <form action="<%= session_url %>" method="post">
    <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <label>
      Email
      <input type="text" name="user[email]" value="">
    </label>


    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input type="text" name="user[email]" class="form-control" placeholder="email" >
    </div>


    <label>
      Password
      <input type="password" name="user[password]" value="">
    </label>

    <input type="submit" value="Sign In">
  </form>
</div> -->
<div id="sign-in-form">
    <h1>Fitness Companion</h1>
    <p>Fitnote makes your fitness manageable by letting you collect and access everything that matters.</p>
    <form class="demo" action="<%= session_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="user[email]" value="timurtwin@aol.com">
      <input type="hidden" name="user[password]" value="password">
      <input type="submit" class="btn evernote-green" value="Try The Demo">
    </form>

    <p>- Or -</p>

    <form class="form-horizontal sign-in" action="<%= session_url %>" method="post">
      <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <input type="email" name="user[email]" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <input type="password" name="user[password]" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>

      <div class="form-group">
        <div class="sign-button col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn evernote-green">Sign in</button>
        </div>
      </div>
    </form>
</div>
